@font-face{
	font-family: 'dancingscript';
	src: url('../fuentes/DancingScript-Regular.otf') ;
}

body{
	background: #02010a;
	font-family: dancingscript;
	justify-content: center;
	display: flex;
}

#contenido{
	animation-name: principal;
	animation-duration: 1s;
 	width: 900px;
 	
}
header{
	background: #5b7989;
	width: 100%;
	border-radius:  10px 10px 0px 0px ;
 	font-size: 23px;
 	display: flex;
 	color: white;
 }

h1{ text-shadow: 2px 2px #02010a; 
	margin: 10px;}

a{ 	 color: white;
	font-size: 23px;
 }

ul{ list-style-type: none;
	-webkit-padding-start:0px;}



#central{
	
	background: #82c3a6;
	padding: 1%;
	text-align: center;
	} 

#navegador li{

  display: inline;
  margin: 0px 8px;
  height: 100%;
  
	}

 img{
 	box-shadow: 2px 2px #02010a;
 	width: 311px;
 }

#central img{ width: 70%;  }
#retrato img, .filtro img { width:  48%; }
#paisajes img,{ width:  85%;}


#secundaria{
	background: #d5c75f;
	display: -webkit-flex;
	display: flex;
	flex-flow: row wrap;
	-webkit-flex-flow:row wrap;
	width: 100%;
	} 

#titulo{
	padding-left: 20px;
	width: 60%;
	}
#navegador{
	text-align: right;
	width: 40%;
	padding: 10px;
	}


#retrato,#paisajes{
	width: 47%;
	text-align: center;
	padding:1.5%;

}


#retrato img:hover{ 

	animation-name: girar;
	animation-duration: 1s;
	}

#paisajes img:hover{

	animation-name: trasladar;
	animation-duration: 1s;
	}

.filtro{
	width: 30.3%;
	text-align: center;
	padding:1.5%;
}

footer{
	background: #C6d5c5;
	display: flex;
}

footer div{
	width: 25%;
	text-align: center;
}



@media only screen and (max-width: 900px){
	#contenido{
	width: 100%;
	}

	header{
	display: block;
	}

	#titulo{
	width: 100%;
	text-align: center;
	}
	#navegador{
	text-align: center;
	width: 100%;
	}

	#secundaria{
	display: block;
	}
	#secundaria div{
		width: 100%;
	}
	
	footer{
		display: block;
	}
	footer div{
	width: 100%;
	}
}



@keyframes principal{
	0% {
	position: relative;
	margin-top: 150%
	}
	60% {
	position: relative;
	margin-top: -5%
	}
	100% {
	position: relative;
	margin-top: 0%
	}
	}

@keyframes girar{
	
	100% {
	transform: rotate(10deg);
	box-shadow: 2px 2px #82c3a6;
	}
	}

@keyframes trasladar{
	
	0% {
	position: relative;	
	left: 0px;
	bottom: 0px;
	box-shadow: 2px 2px #82c3a6;
	}
	100% {
	position: relative;	
	left: 20px;
	bottom: 5px;
	box-shadow: 2px 2px #82c3a6;
	}
	}